*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #carouselExampleCaptions{
    height: 50px;
} */
body{
    background: linear-gradient(to left, pink, white);
}
img{
    height: 580px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* .container{
    background-color: wheat;
} */
.box{
    margin: 2rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box .card{
    margin: 2rem;
    box-shadow: 2px 2px 2px 2px rgb(218, 213, 213);
    transition: 2s ease-out;
    cursor: pointer;
}
.box .card:hover{
    transform: scale(1.1);
}
form{
    margin: 12rem;
}
.login{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80%;
    background:linear-gradient(to left, rgb(20, 57, 105), rgb(236, 146, 118));
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 8px 2px black;
    position: relative;

}
.left{
    width: 40%;
    /* background-color: rgb(27, 0, 27); */
    height: 100%;
    display: flex;
    
}
.left img{
    margin-left: 3rem;
    width: 500px;
    background-size: contain;
}

.right{
    width: 60%;
    /* position: absolute; */
    /* left: -2rem; */
}
.sec1{
    margin-top: 2rem;
    width: 80%;
    height: 20vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec2{
    margin-top: 5rem;
    /* margin-bottom: 2rem; */
    text-align: center;
}
.sec2 table{
    margin-top: 2rem;
}
.bio1img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
